.services {
  padding: 50px 0;

  @media (min-width: $screen-lg) {
    padding: 100px 0;
  }

  &__container {
    margin: 0 auto;
    width: 100%;
    padding: 0 20px;

    @media (min-width: $screen-md) {
      padding: 0;
      width: 760px;
    }

    @media (min-width: $screen-lg) {
      padding: 0;
      width: 1140px;
    }
  }

  &__row {
    margin-top: 50px;

    @media (min-width: $screen-md) {
      display: flex;
      flex-wrap: wrap;
    }

    @media (min-width: $screen-lg) {
      margin-top: 70px;
      justify-content: space-between;
    }
  }
}
