.slick {

  &-dots {
    display: flex;
    justify-content: center;

    li {
      margin-right: 7px;

      &:last-child {
        margin-right: 0;
      }
    }

    button {
      width: 13px;
      height: 13px;
      border: 0;
      border-radius: 50%;
      font: 0/0 a;
      background-color: $gray-light;

      & .active {
        background-color: $main-color;
      }
    }
  }
}
