$first-font-family:     Montserrat, Helvetica Neue, sans-serif;
$second-font-family:    'Roboto-Slab', Georgia, serif;

$main-color:            #c0301c;
$second-color:          #555555;

$gray-lightest:         #f8f8f8;
$gray-light:            #dddddd;

$screen-sm:             320px;
$screen-md:             840px;
$screen-lg:             1280px;
